{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <h1>Clients ({{ pagination.getTotalItemCount }})</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in pagination %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.email }}</td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" href="{{ path('client_show', {'id': client.id}) }}">Show</a>
                    <a class="btn btn-outline-warning btn-sm" href="{{ path('client_edit', {'id': client.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}

    <a class="btn btn-primary" href="{{ path('client_new') }}">Create new client</a>
{% endblock %}
